.app {
  width: 100vw;
  height: 100vh;
}

.header {
  height: 50px;
  background-color: #F7F7F7;
  position: relative;
  z-index: 12;
  user-select: none;
}

.rules {
  min-width: 50vw;
  border-left: 1px solid #DDDDDD;
}

.toggle-container {
  box-shadow: 0 1px 0 #DDDDDD;
  width: 50vw;
  padding: 0 10px;
  position: relative;
}

.logo {
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 10px;
  flex-grow: 1;
  border-left: 1px solid #dddddd;
  box-shadow: 0 1px 0 #DDDDDD;
}

:global {
  .react-simple-input-clear {
    position: absolute;
    display: flex;
    right: 8px;
    justify-content: center;

    color: #fff;
    background-color: #8080f2;
    border-radius: 18px;
    width: 18px;
    height: 18px;
    margin: 0 10px;

    top: 50%;
    transform: translateY(-50%);
  }
}

.search {
  flex-shrink: 0;
  flex-grow: 1;
  padding: 5px 10px;
  border: 1px solid #DDDDDD;
  border-radius: 50px;
}
