
.container {
}

.header {
  height: 35px;
  padding: 0 10px;
  background-color: #F7F7F7;
  box-shadow:
    0 1px 0 #DDDDDD,
    0 -1px 0 #DDDDDD;
  display: flex;
  flex-grow: 1;
  align-items: center;

  z-index: 10;
  position: sticky;
  top: 50px;
  user-select: none;

  &:hover {
    background-color: darken(#F7F7F7, 1%);
    .expando {
      color: #4B32C3;
    }
  }
}

.link {
  height: 100%;
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.name-container {
  margin-left: 20px;
}

.name-deprecated {
  text-decoration: line-through;
}

.recommended, .expando {
  text-align: center;
  width: 12px;
  color: #DDDDDD;
}
.recommended {
  margin-right: 20px;
}

.body-container {
  overflow: hidden;
}

.button {
  border: none;
  padding: 5px 7px;
  background: white;
  color: #333;
  border-radius: 2px;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.2),
    0 1px 5px rgba(0, 0, 0, 0.1);
}

.body {
  box-sizing: content-box;
  padding: 20px 10px 40px;
  font-size: 13px;
  line-height: 1.42;
  overflow: hidden;

  a,
  a:visited {
    cursor: pointer;
    color: #8080F2;
  }

  a:hover,
  a:focus,
  a:active {
    color: #4B32C3;
    text-decoration: underline;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }

  li + li {
    margin-top: 0.65rem;
  }

  h1, h2, h3, h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
  }

  h1 {
    margin-top: 0;
  }

  h1, h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1rem;
    code {
      background-color: transparent !important;
      padding: 0 !important;
    }
  }

  h5 {
    font-size: 0.56rem;
  }

  h6 {
    font-size: 0.44rem;
  }

  small {
    font-size: 0.35em;
  }

  h1,
  h2,
  h3 {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 1.15rem;
    padding-bottom: .5rem;
  }

  blockquote {
    border-left: 8px solid #e8e8e8;
    padding: 1rem;
  }

}

.mini-editor {
  margin-bottom: 20px;

  :global {
    .CodeMirror {
      width: 100%;
      height: auto !important;
      background-color: #FAFAFA;
      font-family: Consolas;
      line-height: 20px;
    }
  }
}
