@import "reset";
@import "defaults";

body {
  overflow: hidden;
}

:global {
  .CodeMirror {
    font-family: Consolas !important;
    font-size: 16px;
    line-height: 20px;
  }

  .CodeMirror-lint-tooltip {
    border: none !important;
    padding: 5px 7px !important;
    background: white !important;
    color: #333;
    border-radius: 2px !important;
    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.2),
      0 1px 5px rgba(0, 0, 0, 0.1);
  }

  .CodeMirror-lint-message-error {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 20px !important;
    background-position: left center !important;
    font-family: Consolas;
  }

  .CodeMirror-gutters {
    border: none !important;
    background: white !important;
    padding-right: 20px;
  }

  .CodeMirror-linenumber {
    color: #ddd !important;
  }
}
